%li
  %div= "id: #{post.id}"
  %div= "author: #{post.user.name}"
  %div= "title: #{post.title}"
  %div= "content: #{post.content}"
  %div
    %div= "Number of comments: #{post.comments.count}"
    = render partial: 'shared/comments', locals: { comments: post.comments.to_a }
  = render partial: 'shared/like_button', locals: { resource: post }

    